@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-hover: #d8d8d8;
  --nav-background: #d6d6d6;
  --nav-background-hover: #c4c4c4;
  --foreground: #171717;
  --foreground-hover: #2b2b2b;
  --nav-foreground: #000000;
  --nav-foreground-hover: #141414;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
        to right,
        transparent,
        #202022 10%,
        #202022 90%,
        transparent
      ),
      conic-gradient(from 90deg at 1px 1px, #1f1f1f 90deg, #292929 0) 0 0/7px
        7px;
    --background-hover: #303030;
    --nav-background: #181818;
    --nav-background-hover: #242424;
    --foreground: #adccc2;
    --foreground-hover: #96b3a9;
    --nav-foreground: #eeeeee;
    --nav-foreground-hover: #d8cfc0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bricolage Grotesque", Roboto, sans-serif;
}
.Obaby {
  font-family: "Oooh Baby";
}
.full-height-center {
  display: flex;
  align-items: center;
  height: 100%;
}

@theme {
  --keyframes-background: {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  --animate-border: background ease infinite;
}
